@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: lightgreen;
  text-transform: uppercase;
}
p {
  line-height: 2;
}
.b-text {
  color: red;
  line-height: 0.5;
}
.p-text {
  color: blue;
  line-height: 3;
}

.images {
  text-align: center;
  text-transform: capitalize;
  width: 80vw;
  margin: 0 auto 10rem auto;
}

.s-image {
  border: 3px solid red;
  padding: 1rem 0;
}

@media screen and (min-width: 992px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}
.small {
  width: 200px;
}
